.header {
  position: sticky;
  z-index: 100;
  width: 100%;
  top: 0;
  border-bottom: var(--border-width-s) solid transparent;
  padding-block: fluid(22, 14);
  animation-name: scrolling-header;
  animation-fill-mode: both; // чтобы анимация зафиксировалась в конце
  animation-timeline: scroll(); // api следящее за скроллом
  animation-range: 0 100px; // чтобы на 100px анимация закончилась

  @keyframes scrolling-header {
    to {
      padding-block: 10px;
      background-color: var(--color-black-08);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
  }
}